@font-face {
    font-family: norse;
    src: url(./Norse-Bold.otf);
}




body{
    
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 5vh;
    
}
#bg{
    
    width: 220vh;
    height: 100vh;

}
.imgsec{
    display: flex;
    
    width: 720px;
}
.logo{
    flex: 1;
    align-self: center;
    color:white;
    font-size: 100px;
    font-family: norse;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 25vh;
    max-height: 40vh;
    width: 720px;
    background-color: rgba(0, 0, 0, 0.5);
}
#logo{
    display: flex;
    max-height: 40vh;
   
}
.hero{

}
.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}
.input{
    display: flex;
    flex-direction: column;
   
}
.set{
    display: flex;
    gap: 60px;
    padding-bottom: 40px;
}
input{
   
   width: 16rem;
   height: 1.7rem;
   border: 2px solid #E5E7EB;
    border-radius: 3%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }


.form{
    display: flex;
    gap: 20px;
}
.main{
    display: flex;
    gap:0px;
}
button{
    background-color: #596D48;
    color: white;
    font-size: larger;
    width: 26vh;
    height: 6vh;
    border-radius: 15px;
    border: none;
}
input:hover{
    border: 2px solid rgb(140, 176, 209);
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
span{
    color: red;
    visibility: hidden;
}